.container .card {
    width: 185px;
    height: 245px;
    position: relative;
    padding-bottom: calc(4 / 3 * 100%);
    background: linear-gradient(to bottom, rgb(43, 43, 43), rgb(32, 32, 32));
    color: rgba(245, 245, 245, 0.6);
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .container .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  
  
  .container .card img {
    transition: opacity 125ms ease-in-out 450ms;
    position: absolute;
    image-rendering: -webkit-optimize-contrast;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }